.blog1__header{
margin-top: 60px;

}

.blog1__headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora',serif;
  color:#444;
}

.blog1__headerTitleSm{
  position: absolute;
  top:18%;
  font-size: 20px;

}
.blog1__headerTitleLg{
  position: absolute;
  top:20%;
  font-size: 100px;
}
.blog1__headerImg{
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
